/* 全局字体设置 */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
  --font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,"ABC";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  
  padding: 0;
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  background: linear-gradient(179.99998deg, #0A0F1E 0%, #1A1F3E 100%), rgba(0, 0, 0, 0.00);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;



}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  display: flex;
  /* 使用Flexbox布局 */
  width: 100vw;
  /* 宽度设置为视口宽度的100% */
  /* 高度设置为视口高度的100% */
  align-items: center;
  /* 垂直居中对齐 */
  padding: 0rem 0rem;
  /* 内边距设置为0 */
  /* height: 100vh; */

  flex-direction: column;
  /* 子元素排列方向为列 */
  flex-shrink: 0;
  /* 子元素不缩小 */
  /* 背景设置为线性渐变 */

}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}